#view {
    background-image: url('/assets/Background/Background.png');
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 88vh;
    opacity: 0.3;

    
}