#content {
    width: 100vw;
    height: 88vh;
    position: relative;
    display: flex;

    #view {
        background-image: url('/assets/Background/Background.png');
        background-color: white;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 88vh;
        opacity: 0.3;
        color: black;
        position: relative;       
    }

    #navbar {
        position: fixed;
        z-index: 1;
        width: 100vw;
        height: 88vh;
        justify-content: flex-end;
        text-align: center;
    }

}