#content {
    width: 100vw;
    height: 20px;
  
    border-bottom: solid 1px;
    display: flex;
    justify-content: start;

    li {
        list-style-type: none;
      
    }

    button {
     
    }

}